{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <title>Календарь</title>
    <link rel="stylesheet" href="{% static 'userProfile/css/calendar.css' %}">
</head>
<body>
    <div class="calendar-container">
        <div class="calendar-header">
            <h2>Календарь</h2>
            <div class="month-navigation">
                <a href="?{{ prev_month }}">← Предыдущий месяц</a>
                <span>{{ month_name }} {{current_month.year}}</span>
                <a href="?{{ next_month }}">Следующий месяц →</a>
            </div>
        </div>

        <table class="calendar">
            <thead>
                <tr>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Вс</th>
                </tr>
            </thead>
            <tbody>
            {% for week in calendar %}
            <tr>
                {% for day in week %}
                <td class="{% if day.month == current_month.month %}current-month-day{% else %}other-month-day{% endif %}">
                    <div class="day-number {% if day == today %}today-highlight{% endif %}">
                        {{ day.day }}
                    </div>
                    {% for task in tasks %}
                        {% if task.dateTime_due.date == day %}
                        <div class="task {% if day.month != current_month.month %}task-other-month{% endif %}">
                            {{ task.title }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <nav class="navigation">

        <a href="{% url 'userProfile:settings' %}" class="user-profile-link">
            <div class="user-profile-bar">
                {% if user.is_authenticated %}
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt='Аватар' class='user-avatar'>
                    {% else %} 
                        <img src='https://static-00.iconduck.com/assets.00/profile-default-icon-1024x1023-4u5mrj2v.png' alt="Аватар" class="user-avatar">
                    {% endif %}
                    <div class="user-info">
                        <div class="username">{{ user.username }}</div>
                        <div class="user-status">
                            {% if user.profile.status %} {{ user.profile.status }} {% else %}Статус{% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </a>

        <a href="{% url 'userProfile:settings' %}" class="nav-button">Профиль</a>
        <a href="{% url 'userProfile:tasks' %}" class="nav-button">Задачи</a>
        <a href="{% url 'userProfile:calendar' %}" class="nav-button">Календарь</a>
    </nav>
</body>
</html>