{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Настройки</title>
    <link rel="stylesheet" href="{% static 'userProfile/css/settings.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Ваш профиль : {{user.username}}</h2>
        {% if user.profile.avatar %}  
            Аватар<br>  
            <img src="{{ user.profile.avatar.url }}" width="150" height="150" alt="Аватар">
        {% else %}
            <img src="https://static-00.iconduck.com/assets.00/profile-default-icon-1024x1023-4u5mrj2v.png" width="150" height="150" alt="Дефолтный Аватар">
        {% endif %}
        {% if user.profile.status %}
            {{ user.profile.status }}
        {% else %}
            <p> Статус </p>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.telegram_notifications.id_for_label }}">Получать уведомления в Telegram</label>
                <input type="hidden" name="setTelegramNotis" value="{{ profile.telegram_notifications }}">
                <button type="submit" class="complete-btn">
                    {% if profile.telegram_notifications %}✓{% else %}○{% endif %}
                </button>
            </div>
        </form>

        <!-- Форма для сохранения chat_id -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="save_chat_id" value="1">
            <div class="form-group">
                <label for="telegram_chat_id">Telegram Chat ID</label>
                <input type="text" 
                    id="telegram_chat_id" 
                    name="telegram_chat_id" 
                    value="{{ profile.telegram_chat_id|default:'' }}"
                    class="form-input">
                <small class="form-text">
                    <br>Как получить: напишите боту @AHtaskNotiBot /start → скопируйте ID
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить Chat ID</button>
        </form>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="sendmsg">
                <button type="submit" class="complete-btn">
                    Отправить сообщение
                </button>
            </div>
        </form>

    {% endif %}

    <nav class="navigation">
        <a href="{% url 'userProfile:settings' %}" class="nav-button">Профиль</a>
        <a href="{% url 'userProfile:tasks' %}" class="nav-button">Задачи</a>
        <a href="{% url 'userProfile:calendar' %}" class="nav-button">Календарь</a>
    </nav>
    <form method="post" action="{% url 'userProfile:settings' %}">
        {% csrf_token %}
        <button type="submit" name="logout" class="nav-button">Выйти</button>
    </form>
</body>
</html>