{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Настройки</title>
    <link rel="stylesheet" href="{% static 'userProfile/css/settings.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Ваш профиль : {{user.username}}</h2>
        {% if user.profile.avatar %}  
            Аватар<br>  
            <img src="{{ user.profile.avatar.url }}" width="150" height="150" alt="Аватар">
        {% else %}
            <p>Аватар не загружен</p>
        {% endif %}
    {% endif %}

    <nav class="navigation">
        <a href="{% url 'userProfile:settings' %}" class="nav-button">Профиль</a>
        <a href="{% url 'userProfile:tasks' %}" class="nav-button">Задачи</a>
        <a href="{% url 'userProfile:calendar' %}" class="nav-button">Календарь</a>
    </nav>
    <form method="post" action="{% url 'userProfile:settings' %}">
        {% csrf_token %}
        <button type="submit" name="logout" class="nav-button">Выйти</button>
    </form>
</body>
</html>