{% block content %}
<h1>Список задач</h1>
<ul>
  {% for task in tasks %}
    <li>
      <h3>Название: {{ task.title }}</h3>
      <p>Описание: {{ task.description }}</p>
      <p>Статус: {% if task.isCompleted %}Выполнено{% else %}В работе{% endif %}</p>
      <p>Тег: {{task.tag}}</p>
      <p>Приоритетность: {{task.priority}}</p>
    </li>
  {% empty %}
    <li>Нет задач</li>
  {% endfor %}
  <form method="get" action="{% url 'task_creation' %}">
    <button type="submit" class="btn">Создать задачу</button>
  </form>
</ul>
{% endblock %}

<nav class="navigation">
    <a href="{% url 'settings' %}" class="nav-button">Профиль</a>
    <a href="{% url 'tasks' %}" class="nav-button">Задачи</a>
    <a href="{% url 'calendar' %}" class="nav-button">Календарь</a>
</nav>
